<div class="container">
    <div class="row">
        <div class="col-4 card" style="width: 18rem;">
            <img src="../assets/hilton.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Hilton Hotel</h3>
                <p>Price: 150Euro</p>
                <p>Number of nights: 5</p>
                <p>City: Vienna</p>
            </div>
        </div>
        <div class="col-4 card" style="width: 18rem;">
            <img src="../assets/hilton.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Hilton Hotel</h3>
                <p>Price: 150Euro</p>
                <p>Number of nights: 5</p>
                <p>City: Vienna</p>
            </div>
        </div>
        <div class="col-4 card" style="width: 18rem;">
            <img src="../assets/hilton.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Hilton Hotel</h3>
                <p>Price: 150Euro</p>
                <p>Number of nights: 5</p>
                <p>City: Vienna</p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-4 card" style="width: 18rem;">
            <img src="../assets/hilton.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Hilton Hotel</h3>
                <p>Price: 150Euro</p>
                <p>Number of nights: 5</p>
                <p>City: Vienna</p>
            </div>
        </div>
        <div class="col-4 card" style="width: 18rem;">
            <img src="../assets/hilton.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Hilton Hotel</h3>
                <p>Price: 150Euro</p>
                <p>Number of nights: 5</p>
                <p>City: Vienna</p>
            </div>
        </div>
        <div class="col-4 card" style="width: 18rem;">
            <img src="../assets/hilton.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Hilton Hotel</h3>
                <p>Price: 150Euro</p>
                <p>Number of nights: 5</p>
                <p>City: Vienna</p>
            </div>
        </div>
    </div>


</div>